<section class="bg-white dark:bg-gray-900">
  <button
    onclick="printDiv('print')"
    class="rounded bg-yellow-200 py-2 px-4 text-yellow-900 shadow duration-300 hover:bg-yellow-300 hover:shadow-xl"
  >
    Print This Page
  </button>
  <div class="mx-auto max-w-screen-xl py-8 px-4 lg:py-16 lg:px-6">
    <div id="print">
      <div class="page1">
        <img
          src="/assets/header.jpg"
          style="width: 1086px; height: auto"
          class="ui fluid image"
        />
        <br />
        <h2 class="center colorme" style="margin: auto; text-align: center">
          Masters / PHD Online Application
        </h2>
        <h3 class="center colorme" style="margin: auto; text-align: center">
          Information Summary
        </h3>
      </div>
      <div class="page2"></div>
      <div class="page3">
        <img
          src="/assets/footer.jpg"
          style="width: 1086px; height: auto"
          class="ui fluid image"
        />
      </div>
    </div>
  </div>
</section>
