<section class="bg-white dark:bg-gray-900">
  <ngx-loading [show]="loading"></ngx-loading>
  <button
    onclick="printDiv('print')"
    class="rounded bg-yellow-200 py-2 px-4 text-yellow-900 shadow duration-300 hover:bg-yellow-300 hover:shadow-xl"
  >
    Print This Page
  </button>
  <div class="mx-auto max-w-screen-xl py-8 px-4 lg:py-16 lg:px-6">
    <div id="print">
      <div class="page1">
        <div class="flex items-center justify-center">
          <img
            src="/assets/logo.png"
            style="width: 196px; height: auto"
            class="ui fluid image"
          />
        </div>
        <div style="">
          <h2 class="center colorme" style="margin: auto; text-align: center">
            ONLINE APPLICATION SUMMARY
          </h2>
          <h3 class="center colorme" style="margin: auto; text-align: center">
            {{ applicant.applicationNumber.applicantNumber }} -
            {{ applicant.entryMode | uppercase }}
          </h3>
        </div>
        <br />
        <div class="flex items-center justify-center">
          <img
            style="
              width: 200px;
              height: 200px;

              background: rgb(239, 239, 239);
              border-radius: 10px;
            "
            src="{{ imgurl }}"
            alt="{{ imgurlAlt }}"
            class="bg-gray-100 dark:bg-slate-800"
          />
        </div>
      </div>
      <br />
      <hr />
      <div class="page2">
        <div class="table-responsive">
          <div class="grid h-48 grid-cols-2 place-content-center gap-2">
            <div><h4 class="font-thin">BIODATA</h4></div>
            <div style="margin-left: -20%">
              <p>Full Name: &nbsp;{{ applicant.getFullName }}</p>
              <p></p>
              <p>Dob: &nbsp;{{ applicant.dob | date }}</p>
              <p></p>
              <p>Gender: &nbsp;{{ applicant.gender }}</p>
              <p></p>
              <p>Physically Challenged: &nbsp;{{ applicant.disability }}</p>
              <p>Phone: &nbsp;{{ applicant.phone.number }}</p>
              <p>Email: &nbsp;{{ applicant.email.value }}</p>
              <p>Hometown: &nbsp;{{ applicant.hometown }}</p>
              <p>Nationality: &nbsp;{{ applicant.nationalityId }}</p>
            </div>
          </div>
          <br />
          <div class="grid h-48 grid-cols-2 place-content-center gap-2">
            <div><h4 class="font-thin">EDUCATIONAL BACKGROUND</h4></div>
            <div style="margin-left: -20%">
              <p>
                <ng-container *ngIf="user?.category == 'Undergraduate'">
                  <p>
                    Grade: <b>{{ grade }} </b>
                  </p>
                </ng-container>
              </p>
              <p>SHS Attended: &nbsp;{{ applicant.getFullName }}</p>
              <p></p>
              <p>Programme Studied: &nbsp;{{ applicant.dob | date }}</p>
              <p></p>
              <p>School Attended: &nbsp;{{ applicant.gender }}</p>
              <p></p>
              <p>Year Completed: &nbsp;{{ applicant.getFullName }}</p>
              <p></p>
              <p>Entry Qualification: &nbsp;{{ applicant.phone.number }}</p>
            </div>
          </div>
          <br />
          <div class="grid h-48 grid-cols-2 place-content-center gap-2">
            <div><h4 class="font-thin">PROGRAMME INFORMATION</h4></div>
            <div style="margin-left: -20%">
              <p>First Choice: &nbsp;{{ applicant.getFullName }}</p>
              <p></p>
              <p>Entry Year: &nbsp;{{ applicant.dob | date }}</p>
              <p></p>
              <p>Schedule: &nbsp;{{ applicant.gender }}</p>
              <p></p>
              <p>Waiting: &nbsp;{{ applicant.getFullName }}</p>
              <p></p>
            </div>
          </div>

          <br />
          <div class="grid h-48 grid-cols-2 place-content-center gap-2">
            <div><h4 class="font-thin">RESULTS</h4></div>
            <div style="margin-left: -20%">
              <p>SHS Attended: &nbsp;{{ applicant.getFullName }}</p>
              <p></p>
              <p>Programme Studied: &nbsp;{{ applicant.dob | date }}</p>
              <p></p>
              <p>School Attended: &nbsp;{{ applicant.gender }}</p>
              <p></p>
              <p>Year Completed: &nbsp;{{ applicant.getFullName }}</p>
              <p></p>
              <p>Entry Qualification: &nbsp;{{ applicant.phone.number }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="page3">
        <img
          src="/assets/footer.jpg"
          style="width: 1086px; height: auto"
          class="ui fluid image"
        />
      </div>
    </div>
  </div>
</section>
