<section class="bg-white dark:bg-gray-900">
  <ngx-loading [show]="loading"></ngx-loading>
  <button
    onclick="printDiv('print')"
    class="rounded bg-yellow-200 py-2 px-4 text-yellow-900 shadow duration-300 hover:bg-yellow-300 hover:shadow-xl"
  >
    Print This Page
  </button>

  <div class="mx-auto max-w-screen-xl py-8 px-4 lg:py-16 lg:px-6">
    <div id="print">
      <div class="page1">
        <div class="flex items-center justify-center">
          <img
            src="/assets/logo.png"
            style="width: 196px; height: auto"
            class="ui fluid image"
          />
        </div>
        <div style="">
          <h2 class="center colorme" style="margin: auto; text-align: center">
            {{ user.category | uppercase }} ONLINE APPLICATION SUMMARY
          </h2>
          <h3 class="center colorme" style="margin: auto; text-align: center">
            {{ applicant.applicationNumber.applicantNumber }} -
            {{ applicant.entryMode | uppercase }}
          </h3>
        </div>
        <br />
        <div class="flex items-center justify-center">
          <img
            style="
              width: 200px;
              height: 200px;

              background: rgb(239, 239, 239);
              border-radius: 10px;
            "
            src="{{ imgurl }}"
            alt="{{ imgurlAlt }}"
            class="bg-gray-100 dark:bg-slate-800"
          />
        </div>
      </div>
      <p>&nbsp;</p>
      <br />
      <hr />
      <div class="page2">
        <div class="table-responsive">
          <div class="grid h-48 grid-cols-2 place-content-center gap-2">
            <div><h4 class="font-thin">BIODATA</h4></div>
            <div style="margin-left: -20%">
              <p>Full Name: &nbsp;{{ applicant.getFullName }}</p>
              <p></p>
              <p>Dob: &nbsp;{{ applicant.dob | date }}</p>
              <p></p>
              <p>
                Gender: &nbsp;
                <ng-container *ngIf="applicant.gender.toString() == '0'">
                  Male
                </ng-container>
                <ng-container *ngIf="applicant.gender.toString() == '1'">
                  Female
                </ng-container>
              </p>
              <p></p>
              <p>
                Address: &nbsp;{{ addressDto.box }},
                {{ addressDto.houseNumber }}
                {{ addressDto.city }}
              </p>
              <p></p>
              <p>
                Physically Challenged:

                <ng-container *ngIf="applicant.disability == true">
                  Yes
                </ng-container>
                <ng-container *ngIf="applicant.disability == false">
                  No
                </ng-container>
              </p>
              <p>Phone: &nbsp;{{ applicant.phone.number }}</p>
              <p>Email: &nbsp;{{ applicant.email.value }}</p>
              <p>Hometown: &nbsp;{{ applicant.hometown }}</p>
              <p>Nationality: &nbsp;{{ applicant.nationalityId }} Ghanaian</p>
            </div>
          </div>

          <div class="grid h-48 grid-cols-2 place-content-center gap-2">
            <div><h4 class="font-thin">EDUCATIONAL BACKGROUND</h4></div>
            <div style="margin-left: -20%">
              <p>
                <ng-container *ngIf="user?.category == 'Undergraduate'">
                  <p>
                    Grade: <b>{{ grade }} </b>
                  </p>
                </ng-container>
              </p>
              <p>School Attended: &nbsp;{{ shsAttended.name.name }}</p>
              <p></p>
              <p>Programme Studied: &nbsp;{{ shsAttended.programmeStudied }}</p>
              <p>Year Completed: &nbsp;{{ shsAttended.endYear }}</p>
              <p></p>
              <p>Entry Certificate: &nbsp;{{ applicant.firstQualification }}</p>
            </div>
          </div>

          <div class="grid h-48 grid-cols-2 place-content-center gap-2">
            <div><h4 class="font-thin">PROGRAMME INFORMATION</h4></div>
            <div style="margin-left: -20%">
              <p>
                First Choice: &nbsp;

                {{ applicant.firstChoiceId | programmePipe | async }}
              </p>
              <p>
                Second Choice: &nbsp;
                {{ applicant.secondChoiceId | programmePipe | async }}
              </p>
              <p></p>
              <p>Entry Year: &nbsp;{{ user.year }}</p>
              <p></p>
              <ng-container *ngIf="applicant.awaiting == true">
                <p>Applied as Waiting: &nbsp; Yes</p>
                <p>Exams IndexNo: &nbsp; {{ applicant.indexNo }}</p>
              </ng-container>
            </div>
          </div>

          <div class=" ">
            <div><h4 class="font-thin">RESULTS</h4></div>

            <ng-container *ngIf="resultUploadDto.length > 0">
              <table class=" ">
                <thead class="results table-auto border">
                  <tr>
                    <th>No</th>

                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-500 dark:text-gray-400"
                    >
                      Index No
                    </th>
                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-500 dark:text-gray-400"
                    >
                      Exam
                    </th>

                    <th
                      scope="col"
                      class="t px-4 py-3.5 text-left text-sm font-normal text-gray-500 dark:text-gray-400"
                    >
                      Subject
                    </th>

                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-500 dark:text-gray-400"
                    >
                      Grade
                    </th>

                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-500 dark:text-gray-400"
                    >
                      Center
                    </th>
                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-500 dark:text-gray-400"
                    >
                      Sitting
                    </th>
                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-500 dark:text-gray-400"
                    >
                      Month
                    </th>

                    <th
                      scope="col"
                      class="px-4 py-3.5 text-left text-sm font-normal text-gray-500 dark:text-gray-400"
                    >
                      Year
                    </th>
                  </tr>
                </thead>
                <tbody class=" ">
                  <tr *ngFor="let data of resultUploadDto; let i = index">
                    <td>
                      <span> {{ i + 1 }} </span>
                    </td>
                    <td>
                      {{ data.indexNo }}
                    </td>
                    <td>
                      {{ data.examType }}
                    </td>
                    <td>
                      <h2 class="text-sm font-normal">
                        {{ data.subject.name }}
                      </h2>
                    </td>
                    <td>
                      {{ data.grade.name }}

                      , Value {{ data.grade.value }}
                    </td>
                    <td>
                      {{ data.center }}
                    </td>
                    <td>
                      {{ data.sitting }}
                    </td>
                    <td>
                      {{ data.month }}
                    </td>
                    <td>
                      {{ data.year }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-container *ngIf="resultUploadDto.length == 0">
              No Result uploaded(s)..</ng-container
            >
          </div>
        </div>
      </div>
      <div class="page3">
        <img
          src="/assets/footer.jpg"
          style="width: 1086px; height: auto"
          class="ui fluid image"
        />
      </div>
    </div>
  </div>
</section>
