<div class="flex items-center justify-start">
  <ngx-loading [show]="loading"></ngx-loading>
  <span
    class="mr-3 inline-flex h-12 w-12 items-center justify-center rounded-full bg-white text-black dark:bg-slate-900/70 dark:text-white"
    ><svg viewBox="0 0 24 24" width="24" height="24" class="inline-block">
      <path
        fill="currentColor"
        d="M13,7.5H18V9.5H13V7.5M13,14.5H18V16.5H13V14.5M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19M19,19V5H5V19H19M11,6V11H6V6H11M10,10V7H7V10H10M11,13V18H6V13H11M10,17V14H7V17H10Z"
      ></path>
    </svg>
  </span>
  <h1 class="text-2xl leading-tight">Programme Information</h1>
</div>
<span>&nbsp;</span>
<ng-container *ngIf="message == 200">
  <div
    class="mb-4 rounded-lg bg-green-50 p-4 text-center text-sm text-green-800 dark:bg-gray-800 dark:text-green-400"
    role="alert"
  >
    Programme Information saved Successfully!
  </div>
</ng-container>
<ng-container *ngIf="message && message == 500">
  <div
    class="mb-4 rounded-lg bg-red-50 p-4 text-center text-sm text-red-800 dark:bg-gray-800 dark:text-red-400"
    role="alert"
  >
    Error Saving data.
  </div>
</ng-container>
<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl py-8 px-4 lg:py-16 lg:px-6">
    <p class="text-center text-sm">
      <span class="text-red-500">PLEASE NOTE</span> : All fields marked with
      <span class="text-red-500">*</span> are required to be filled.
    </p>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="programmeInfo"
      autocomplete="off"
      class="ng-untouched ng-pristine ng-valid container mx-auto flex flex-col space-y-12"
    >
      <input type="hidden" formControlName="Id" />
      <fieldset
        class="grid grid-cols-4 gap-6 rounded-md p-6 shadow-sm dark:bg-gray-900"
      >
        <div class="col-span-full space-y-2 lg:col-span-1">
          <p class="font-medium">Academic Information</p>
          <p class="text-xs">Collecting programme data!</p>
        </div>

        <div class="col-span-full grid grid-cols-6 gap-4 lg:col-span-3">
          <div class="col-span-full sm:col-span-2">
            <label for="Title" class="text-sm"
              ><span class="after:text-red-500 after:content-['*']"
                >Entry Mode</span
              ></label
            >
            <select
              formControlName="entryMode"
              required=""
              class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
            >
              <option value="" selected>Entry Mode</option>
              <option *ngFor="let name of entryModeKeys" [value]="name">
                {{ entryMode[name] }}
              </option>
            </select>
            <div
              *ngIf="
                programmeInfo.controls['entryMode'].invalid &&
                (programmeInfo.controls['entryMode'].dirty ||
                  programmeInfo.controls['entryMode'].touched)
              "
              class="text-red-600"
            >
              <div
                class="text-sm"
                *ngIf="programmeInfo.controls['entryMode'].errors.required"
              >
                Entry Mode is required
              </div>
            </div>
          </div>
          <div class="col-span-full sm:col-span-2">
            <label for="Title" class="text-sm"
              ><span class="after:text-red-500 after:content-['*']"
                >First Qualification</span
              ></label
            >
            <select
              formControlName="firstQualification"
              required=""
              class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
            >
              <option value="" selected>First Qualification</option>
              <option
                *ngFor="let name of entryQualificationKeys"
                [value]="name"
              >
                {{ entryQualification[name] }}
              </option>
            </select>
            <div
              *ngIf="
                programmeInfo.controls['firstQualification'].invalid &&
                (programmeInfo.controls['firstQualification'].dirty ||
                  programmeInfo.controls['firstQualification'].touched)
              "
              class="text-red-600"
            >
              <div
                class="text-sm"
                *ngIf="
                  programmeInfo.controls['firstQualification'].errors.required
                "
              >
                First Qualification is required.
              </div>
            </div>
          </div>
          <div class="col-span-full sm:col-span-2">
            <label for="Title" class="text-sm"> Second Qualification </label>
            <select
              formControlName="secondQualification"
              class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
            >
              <option value="" selected>Second Qualification</option>
              <option
                *ngFor="let name of entryQualificationKeys"
                [value]="name"
              >
                {{ entryQualification[name] }}
              </option>
            </select>
          </div>

          <div class="col-span-full sm:col-span-2">
            <label for="Title" class="text-sm"
              ><span class="after:text-red-500 after:content-['*']"
                >First Choice</span
              ></label
            >
            <select
              formControlName="FirstChoiceId"
              required=""
              class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
            >
              <option value="" selected>First Choice</option>
              <option *ngFor="let name of programmes" [value]="name.id">
                {{ name.name }}
              </option>
            </select>
            <div
              *ngIf="
                programmeInfo.controls['FirstChoiceId'].invalid &&
                (programmeInfo.controls['FirstChoiceId'].dirty ||
                  programmeInfo.controls['FirstChoiceId'].touched)
              "
              class="text-red-600"
            >
              <div
                class="text-sm"
                *ngIf="programmeInfo.controls['FirstChoiceId'].errors.required"
              >
                First Choice is required.
              </div>
            </div>
          </div>
          <div class="col-span-full sm:col-span-2">
            <label for="Title" class="text-sm"
              ><span class="after:text-red-500 after:content-['*']"
                >Second Choice</span
              ></label
            >
            <select
              formControlName="SecondChoiceId"
              required=""
              class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
            >
              <option value="" selected>Second Choice</option>
              <option *ngFor="let name of programmes" [value]="name.id">
                {{ name.name }}
              </option>
            </select>
            <div
              *ngIf="
                programmeInfo.controls['SecondChoiceId'].invalid &&
                (programmeInfo.controls['SecondChoiceId'].dirty ||
                  programmeInfo.controls['SecondChoiceId'].touched)
              "
              class="text-red-600"
            >
              <div
                class="text-sm"
                *ngIf="programmeInfo.controls['SecondChoiceId'].errors.required"
              >
                Second Choice is required.
              </div>
            </div>
          </div>
          <div class="col-span-full sm:col-span-2">
            <label for="Title" class="text-sm"
              ><span class="after:text-red-500 after:content-['*']"
                >Third Choice</span
              ></label
            >
            <select
              formControlName="ThirdChoiceId"
              required=""
              class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
            >
              <option value="" selected>Third Choice</option>
              <option *ngFor="let name of programmes" [value]="name.id">
                {{ name.name }}
              </option>
            </select>
            <div
              *ngIf="
                programmeInfo.controls['ThirdChoiceId'].invalid &&
                (programmeInfo.controls['ThirdChoiceId'].dirty ||
                  programmeInfo.controls['ThirdChoiceId'].touched)
              "
              class="text-red-600"
            >
              <div
                class="text-sm"
                *ngIf="programmeInfo.controls['ThirdChoiceId'].errors.required"
              >
                Third Choice is required.
              </div>
            </div>
          </div>

          <div class="col-span-full sm:col-span-2">
            <label for="Title" class="text-sm"
              ><span class="after:text-red-500 after:content-['*']"
                >Last Year in School</span
              ></label
            >
            <select
              formControlName="lastYearInSchool"
              required=""
              class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
            >
              <option value="" selected>select year</option>
              <option *ngFor="let year of years" [value]="year">
                {{ year }}
              </option>
            </select>
            <div
              *ngIf="
                programmeInfo.controls['lastYearInSchool'].invalid &&
                (programmeInfo.controls['lastYearInSchool'].dirty ||
                  programmeInfo.controls['lastYearInSchool'].touched)
              "
              class="text-red-600"
            >
              <div
                class="text-sm"
                *ngIf="
                  programmeInfo.controls['lastYearInSchool'].errors.required
                "
              >
                Last year in schoolis is required.
              </div>
            </div>
          </div>

          <div class="col-span-full sm:col-span-2">
            <label for="Title" class="text-sm"
              ><span class="after:text-red-500 after:content-['*']"
                >Apply as awaiting result student?</span
              ></label
            >
            <select
              formControlName="awaiting"
              required=""
              class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm"
            >
              <option value="" selected>select answer</option>
              <option value="false">No</option>
              <option value="true">Yes</option>
            </select>
            <div
              *ngIf="
                programmeInfo.controls['awaiting'].invalid &&
                (programmeInfo.controls['awaiting'].dirty ||
                  programmeInfo.controls['awaiting'].touched)
              "
              class="text-red-600"
            >
              <div
                class="text-sm"
                *ngIf="
                  programmeInfo.controls['lastYearInSchool'].errors.required
                "
              >
                awaiting is required.
              </div>
            </div>
          </div>

          <div class="col-span-full">
            <div class="align-content: center;">
              <button
                [disabled]="!programmeInfo.valid"
                class="mr-3 mb-3 inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded border border-blue-600 bg-blue-600 py-2 px-3 text-white ring-blue-300 transition-colors duration-150 last:mr-0 focus:outline-none focus:ring hover:border-blue-700 hover:bg-blue-700 dark:border-blue-500 dark:bg-blue-500 dark:ring-blue-700 hover:dark:border-blue-600 hover:dark:bg-blue-600"
                type="submit"
              >
                <!----><span class="px-2">Save & Continue</span>
              </button>
              <a [routerLink]="['/welcome/live']">
                <button
                  [disabled]="programmeInfo.controls['Id'].value == ''"
                  class="mr-3 mb-3 inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded border border-orange-600 bg-orange-600 py-2 px-3 text-white ring-orange-300 transition-colors duration-150 last:mr-0 focus:outline-none focus:ring hover:border-orange-700 dark:border-orange-500 dark:bg-orange-500 dark:ring-orange-700 hover:dark:border-orange-600 hover:dark:bg-orange-600"
                  type="button"
                >
                  <!----><span class="px-2">Save & Exit</span>
                </button>
              </a>
              <a
                [routerLink]="['/steptwo/address']"
                class="mr-3 mb-3 inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded border border-blue-600 py-2 px-3 text-blue-600 ring-blue-300 transition-colors duration-150 last:mr-0 focus:outline-none focus:ring hover:bg-blue-600 hover:text-white dark:border-blue-500 dark:text-blue-500 dark:ring-blue-700 hover:dark:border-blue-600 hover:dark:text-white"
                type="reset"
              >
                <!----><span class="px-2">Previous Form</span>
              </a>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
